bcrypt<5
alembic==1.13.1
fastapi==0.109.2
gunicorn==21.2.0
itsdangerous==2.1.2
passlib[bcrypt]==1.7.4
psycopg2-binary==2.9.9
pydantic[email]==2.6.1
pydantic-settings==2.1.0
PyJWT==2.8.0
python-multipart==0.0.9
resend==2.6.0
SQLAlchemy==2.0.25
uvicorn==0.27.1
