alembic==1.8.1
fastapi==0.85.0
gunicorn==20.1.0
itsdangerous==2.1.2
passlib[bcrypt]==1.7.4
psycopg2==2.9.5
pydantic[email,dotenv]==1.10.4
python-jose==3.3.0
python-multipart==0.0.5
sendgrid==6.9.7
SQLAlchemy==1.4.42
uvicorn==0.18.3